button {
    font-size: 1.1rem;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--secondly-color);
    transition: 0.3s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}