.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn img{
    height: 32px;
    width: 32px;
    /*padding: 5px;*/
}

.dropbtn {
    padding: 1px;
    background-color: var(--background-color);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    border-radius: 8px;
    z-index: 1;
    overflow: hidden;
}

.dropdown-content button {
    width: 100%;
    background: none;
    border: none;
    color: #333;
    padding: 10px 16px;
    text-align: left;
    cursor: pointer;
    font-size: 15px;
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}