:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  /*color-scheme: light dark;*/

  --background-color: #242424;
    --background-image: none;
    --text-color: white;
    --secondly-color: #1d1d1d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

[data-theme="space"]{
    --background-color: rgb(25, 25, 112, 0.7);
    --background-image: url('/kosmos.jpg');
    --secondly-color: rgb(7, 38, 60, 0.9);
    --text-color: white;
}

[data-theme="forest"]{
    --background-image: url('/forest.jpg');
    --background-color: rgba(255, 255, 255, 0.3);
    --secondly-color: rgb(1, 50, 32, 0.2);
    --text-color: black;
}

[data-theme="ocean"]{
    --background-image: url('/ocean.jpg');
    --background-color: rgba(255, 255, 255, 0.3);
    --secondly-color: rgb(36, 36, 36, 0.2);
    --text-color: #2769df;
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
    color: var(--text-color);
    font-family: "Segoe UI", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease, background-image 0.8s ease;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
